/* shared style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-lato {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.bg-light {
  background: rgba(229, 84, 115, 0.1);
}

.text-dark {
  color: #272727;
}

.text-light{
    color: rgba(39, 39, 39, 0.6);
}

.flex {
  display: flex;
}

.primary-btn{
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* navbar related styles */
.navbar {
  padding: 25px 0;
}
.nav-links {
  justify-content: end;
  gap: 30px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.nav-link:hover{
    text-decoration: underline;
}

/* banner related styles */
.banner {
  justify-content: center;
  align-items: center;
  gap: 97px;
}
.banner-info {
  max-width: 708px;
}
.banner-title{
    font-size: 5rem;
    margin-bottom: 32px;
}
.banner-description{
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 32px;
}
.banner-image img {
  max-height: 626px;
  vertical-align: middle;
}
